<!-- Bootstrap card component -->
<div class="card">
    <div class="card-header">
        Header
    </div>

    <div>
    <img src="../../assets/images/mobiles/10/1.jpg" alt="" class="card-img-top">
    </div>
    
    <div class="card-body">
      <h5 class="card-title title">Title</h5>
      <h6 class="card-subtitle my-2 text-primary">12 pproducts are availble</h6>
      <p class="card-text description">Description</p>
    </div>
    <div class="card-body">
        <h5 class="card-title text-success"> Final Price
        <span class="text-danger">-20%</span>
        </h5>
        <h6 class="card-subtitle text-danger text-decoration-line-through">Orginal Price</h6>            
    </div>
     <div class="card-footer d-grid gap-2">
        <button class="btn btn-outline-success" type="button">Add to card-text</button>
     </div>
</div>
